@{
    ViewData["Title"] = "Your Applications";
}

<div class="text-center">
    <h1 class="display-4">Your Applications</h1>
</div>
<div class="position-absolute top-20 start-0 m-1">
    <a href="/home/CreateEditApplications" class="btn btn-success">Add/Edit Applications</a>
</div>