@{
    ViewData["Title"] = "Add/Edit an Application";
}

@model JobTracker.Models.JobApplication

<div class="text-center">
    <h1 class="display-4">Add/Edit an Application</h1>
</div>

<form>
    <label>ID</label>
    <input class="form-control" type="number" placeholder="0" asp-for="ID"/>

    <label class="mt-4">UserId</label>
    <input class="form-control" type="number" placeholder="0" asp-for="UserId"/>

    <label class="mt-4">Company</label>
    <input class="form-control" type="text" placeholder="Enter name of company..." asp-for="Company"/>

    <label class="mt-4">JobTitle</label>
    <input class="form-control" type="text" placeholder="Enter job title..." asp-for="JobTitle"/>

    <label class="mt-4">ApplicationDate</label>
    <input class="form-control" type="date" placeholder="1/1/2025" asp-for="ApplicationDate"/>

    <label class="mt-4">Status</label>
    <select class="form-control" asp-items="JobApplication.Statuses" asp-for="Status"></select>
        <option value="">--Select Status--</option>
    </select>

    <label class="mt-4">Notes</label>
    <input class="form-control" type="text" placeholder="" asp-for="Notes"/>

    <button class="btn btn-primary mt-4" type="submit">Add new application</button>
</form>