@using Microsoft.AspNetCore.Identity;
@using JobTracker.ViewModels;
@model CreateApplicationViewModel;

@{
    ViewData["Title"] = "Create Application";
}

<div class="text-center">
    <h1 class="display-4">Add an Application</h1>
</div>

<form asp-action="CreateApplication" asp-controller="Home" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Company" class="form-label mt-4"></label>
    <span asp-validation-for="Company" class="text-danger"></span>
    <input asp-for="Company" class="form-control" type="text" placeholder="Enter name of company"/>

    <label asp-for="JobTitle" class="form-label mt-4"></label>
    <span asp-validation-for="JobTitle" class="text-danger"></span>
    <input asp-for="JobTitle" class="form-control" type="text" placeholder="Enter job title"/>

    <label asp-for="Status" class="form-label mt-4"></label>
    <span asp-validation-for="Status" class="text-danger"></span>
    <select asp-for="Status" class="form-control" asp-items="JobApplication.Statuses">
        <option value="">--Select Status--</option>
    </select>

    <label asp-for="ApplicationDate" class="form-label mt-4"></label>
    <input asp-for="ApplicationDate" class="form-control" type="date"/>

    <label asp-for="Salary" class="form-label mt-4"></label>
    <input asp-for="Salary" class="form-control" type="text" placeholder=""/>

    <label asp-for="Notes" class="form-label mt-4"></label>
    <input asp-for="Notes" class="form-control" type="text" placeholder=""/>

    <button class="btn btn-primary mt-4" type="submit">Submit</button>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}