@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome!</h1>
    <div class="d-flex justify-content-center">
        <p style="width: 600px;">
            In today's age it is often necessary to send dozens of applications to employers and academic institutions. 
            If you're going to stay organized, it's necessary to properly arrange and manage your data.
            This is why I've decided to create this web application-- a tool where you can add, edit, delete, and view
            all of your job applications in one place.
        </p>
    </div>
    <a href="/home/Overview" class="btn btn-primary mb-3">More Information</a>
</div>