@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Overview</h1>
    <p>Click on the "Your Applications" page to view and manage your applications.</p>
    <p>Below is a key of what each column in the table means.</p>
</div>

<div class="text-left">
    <p class="text-decoration-underline">Key:</p>
    <p><strong>Company: </strong>Name of the organization you're applying to.</p>
    <p><strong>Job Title: </strong>Title of the position you're applying for.</p>
    <p><strong>Date Applied: </strong>Date which you applied for the position.</p>
    <p><strong>Status: </strong>Status of your application. Either Not Applied, Applied, Interview, Rejected, or Accepted.</p>
    <p class="mb-5"><strong>Notes: </strong>Any notes that would be helpful to keep for yourself, such as salary, interview dates, info on the position, etc.</p>
    <p>Good luck and have fun job hunting!</p>
</div>